.container-table {
  background-color: var(--color-primary-background);
  width: 100%;
  max-width: 968px;
  height: auto;
  border-radius: 20px;

  &__top {
    display: flex;
    gap: 20px;
    padding: 31px 48px 26px 38px;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    width: 155px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
  }

  &__paragraph {
    color: var(--color-secondary-text);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  &__input {
    width: 216px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

    @media screen and (min-width: $media-tablet) {
      width: 50%;
    }
  }

  &__input input[type="search"] {
    width: 216px;
    height: 38px;
    background-color: var(--color-secondary-background-search);
    border: none;
    padding: 10px 10px 10px 40px;
    font-size: 12px;
    color: var(--color-secondary-text-light);
    border-radius: 10px;
    letter-spacing: -0.12px;

    @media screen and (min-width: $media-tablet) {
      width: 100%;
    }
  }

  input[type="search"]::placeholder {
    color: var(--color-secondary-text-light);
  }

  &__input .container-table__icon {
    position: absolute;
    margin: 2px 2px 7px 6px;
    font-size: 22px;
    z-index: 1;
    color: var(--color-secondary-icon-search);
  }
}