.footer {
  margin: 25px 38px 41px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $media-tablet) {
    flex-direction: column;
    gap: 25px;
  }

  &__text {
    color: var(--color-secondary-text-light);
    font-size: 14px;
    letter-spacing: -0.14px;
    text-wrap: nowrap;
    padding-right: 42.5%;

    @media screen and (max-width: $media-tablet) {
      padding: 0;
    }
  }

  &__pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
  }

  &__pagination-item {
    color: var(--color-secondary-pagination-text);
    display: inline-flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--color-secondary-pagination-border);
    background-color: var(--color-secondary-pagination);
    cursor: pointer;

    &:active {
      background-color: var(--color-secondary-pagination-active);
      color: var(--color-primary-background);
    }
  }

  &__pagination-dot {
    align-self: end;
  }
}