.menu {
  width: 100%;
  max-width: 306px;
  height: 1198px;
  background-color: var(--color-primary-background);
  padding: 36px 28px;
  border-radius: 20px 0 0 20px;

  @media screen and (max-width: $media-tablet) {
    display: none;
  }
}