.nav {
  margin-top: 50px;

  &__list {
    color: var(--color-primary-text-light);
    font-size: 14px;
    letter-spacing: -0.14px;
    gap: 18px;
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    gap: 100px;

    &:active {
      background-color: var(--color-secondary-point-active);
      color: var(--color-primary-background);
    }

    &:active .nav__icon {
      fill: var(--color-primary-background);
      stroke: var(--color-primary-background);
    }

    &:active .nav__icon--stroken {
      fill: var(--color-secondary-point-active);
    }
  }

  &__list-container {
    display: flex;
    gap: 14px;
  }

  &__text {
    width: 77px;
    padding-top: 2px;
  }

  &__icon {
    fill: var(--color-primary-text-light);
    stroke-width: 0;
    stroke: var(--color-primary-text-light);

    &--stroken {
      fill: var(--color-primary-background);
    }
  }

  &__button {
    align-self: end;
  }
}