.table {
  width: 100%;

  &__container-head {
    width: 100%;

    &:after {
      content: "";
      width: 100%;
      display: block;
      border-bottom: 1px solid var(--color-primary-body);
    }
  }

  &__head {
    color: var(--color-secondary-text-light);
    font-weight: 500;
    letter-spacing: -0.14px;
  }

  &__content {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    padding: 0 37px;
    color: var(--color-secondary-text-darked);
    font-weight: 500;
  }

  &__head-cell {
    padding: 8px 0 14px 0;

    &--first {
      width: 169px;
    }

    &--second {
      width: 130px;
    }

    &--third {
      width: 155px;
    }

    &--fourth {
      width: 205px;
    }

    &--fifth {
      width: 140px;
    }

    &--sixth {
      padding-left: 10px;
    }
  }

  &__row {
   height: 65px;
  }

  &__cell {
    //height: 69px;
    //padding: 16px 0px 25px 0;
    letter-spacing: -0.14px;
    border-bottom: 1px solid var(--color-primary-body);

    &--first {
      width: 169px;
    }

    &--second {
      width: 130px;
    }

    &--third {
      width: 155px;
    }

    &--fourth {
      width: 205px;
    }

    &--fifth {
      width: 140px;
    }
  }

  &__button {
    width: 78px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    padding-left: 2px;
  }
}