.table {
  width: 100%;

  &__content-head {
    text-align: left;
    table-layout: auto;
    width: 100%;
    color: var(--color-secondary-text-darked);
    font-weight: 500;
    border-collapse: collapse;

    @media screen and (max-width: $media-tablet) {
      display: block;
    }
  }

  &__head {
    height: 49px;
    color: var(--color-secondary-text-light);
    font-weight: 500;
    letter-spacing: -0.14px;

    @media screen and (max-width: $media-tablet) {
      display: block;
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  &__head-row {
    @media screen and (max-width: $media-tablet) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  &__head-cell {
    padding: 0;
    border-bottom: 1px solid var(--color-primary-body);
    text-wrap: nowrap;

    @media screen and (max-width: $media-tablet) {
      display: block;
    }

    &--first {
      width: 21.5%;
      padding-left: 38px;
    }

    &--second {
      width: 13.5%;
    }

    &--third {
      width: 16.5%;
    }

    &--fourth {
      width: 21%;
    }

    &--fifth {
      width: 16%;
    }

    &--sixth {
      width: 13.5%;
      padding-right: 10px;
    }
  }

  &__content-body {
    width: 100%;
    padding: 0 38px;
    letter-spacing: -0.14px;

    @media screen and (max-width: $media-tablet) {
      display: block;
      padding: 0;
    }
  }

  &__body {
    @media screen and (max-width: $media-tablet) {
      display: block;
    }
  }

  &__row {
    height: 69px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $media-tablet) {
      display: block;
      border-bottom: 1px solid var(--color-primary-body);
      padding: 0 37px;
      height: auto;
    }
  }

  &__cell {
    text-wrap: nowrap;
    padding: 18px 0;
    letter-spacing: -0.14px;
    border-bottom: 1px solid var(--color-primary-body);

    @media screen and (max-width: $media-tablet) {
      display: flex;
      position: relative;
      border-bottom: none;
      padding: 10px 0 10px 50%;

      &:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        color: var(--color-secondary-text-light);
        font-weight: 500;
        letter-spacing: -0.14px;
        padding: 10px;
      }

      &:nth-of-type(1):before {
        content: "Customer Name";
      }
      &:nth-of-type(2):before {
        content: "Company";
      }
      &:nth-of-type(3):before {
        content: "Phone Number";
      }
      &:nth-of-type(4):before {
        content: "Email";
      }
      &:nth-of-type(5):before {
        content: "Country";
      }
      &:nth-of-type(6):before {
        content: "Status";
      }
    }

    &--first {
      width: 19.1%;
    }

    &--second {
      width: 15%;
    }

    &--third {
      width: 17.6%;
    }

    &--fourth {
      width: 24%;
    }

    &--fifth {
      width: 15.6%;
    }

    &--sixth {
      width: 9.7%;
      padding: 14px 0;

      @media screen and (max-width: $media-tablet) {
        padding: 10px 0 10px 50%;
      }
    }
  }

  &__button {
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 12px;

    @media screen and (max-width: $media-tablet) {
      display: block;
    }
  }
}